
<div id="home-container" class="container jumbotron text-center text-white ">
    <h1 class="display-2">Alpha Blog</h1>
    <p class="lead mt-5">
        The Complete Ruby on Rails Developer Course project. Creating a simple blog of articles to demonstrate the structure and inner workings of a Rails project.
    </p>
    <hr class="my-4">
    <div class="d-inline-flex gap-2 mb-5">
        <%= link_to "Sign up!", signup_path, class: "align-items-center btn btn-success btn-lg px-4"  %>
    </div>
</div>

