<% if flash.any? %>
   <div class="container">
      <% flash.each do |type, message| %>
      <% if type == "notice" %>
         <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
      <% else %>
         <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
      <% end %>
         <div><%= message %></div>
      <% end %>
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
   </div>
<% end %>
