<% if flash.any? %>
   <div class="container">
      <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
         <% flash.each do |type, message| %>
            <div><%= message %></div>
         <% end %>
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
   </div>
<% end %>
